<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- < %= render 'users/sidebar', user: @user %> -->
      <%= render 'public/posts/sidebar', post: @post %>
    </div>
    <div class="col-md-8 offset-md-1">
      <%= render 'public/posts/list', posts: @posts %>
    </div>
  </div>
</div>