<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center">
        <h2 class="m-5">このサイトは</h3>
        <h5 class="mb-4">
          「茶腹も一日」に訪れていただき、ありがとうございます。<br>
          このサイトは紅茶専門のSNSです。<br>
          日々飲んでいる紅茶について意見を交わすことで、<br>
          新しい紅茶に出会う機会になればと幸いです。<br>
          画像や文章の投稿、投稿に対するコメント、<br>
          お気に入りの投稿をブックマークする、などの機能がお使いいただけます。<br>
        </h5>

        <h2 class="m-5 text-danger">！注意！</h2>
        <h5>
          該当しない投稿に関しては管理者側から削除させていただくこともあります。<br>
          また、不適切な投稿を行うユーザーに関しましては、<br>
          凍結処置、不適切な投稿が続くようであれば退会処置を行う場合もございます。<br>
          何卒ご了承ください。<br>
        </h5>
      </div>
    </div>
  </div>
</div>