    <footer class="container-fluid text-dark container-fluid", style="background-color: #ff8856;">
        <div class="row">
          <p class="col-auto mx-auto py-4"><%= link_to 'About', about_path, class: 'nav-link text-white' %></p>
          <p class="col-auto mx-auto py-4">利用規約</p>
          <p class="col-auto mx-auto py-4">プライバシーポリシー</p>
        </div>
    </footer>